.announcement {
    padding: 20px;
    box-shadow: 0 0 10px #eeeeee;
    font-size: small;
}

.announcement .aa_plugin_admin_button {
    margin-left: 85%;
    background: #ffffff;
    color: black;
    font-weight: lighter;
    font-family: "NonBreakingSpaceOverride", "Hoefler Text", Garamond, "Times New Roman", serif;
    border: 0.5px solid #555555;
    border-radius: 5px;
}

.announcement .aa_plugin_admin_button:hover {
    background: #000000;
    color: #ffffff;
    font-weight: normal;
    border: 0.5px solid #ffffff;
}

.notice {
    background: #fff;
    border: 1px solid #ccd0d4;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin: 5px 15px 2px;
    padding: 1px 12px;
    border-left-color: #46b450;
}