@import '../helpers/functions';
@import '../helpers/mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: colors(primary);
    font-family: 'Montserrat', sans-serif;
}